name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' # Change this to your python version

    - name: Install Dependencies
      run: |
        pip install pyinstaller
        if (Test-Path requirements.txt) { pip install -r requirements.txt }

    - name: Build with PyInstaller
      # Replace 'your_script.py' with your actual main script name
      run: pyinstaller --onefile your_script.py

    - name: Upload EXE Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Windows-EXE
        path: dist/*.exe
